---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/uuVT2tNZ?key=ed96e5b303600fa840b1d3109398a184&token=4fe301100eee0bd3970dfde31ce4f03c52379bb7f0c393a454bd93d87475de6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1420.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1539988811022'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"475-IKjvun3UUcPNUwB6G6HxAGpSfP4"
    body:
      encoding: UTF-8
      string: '{"id":"5bc9f497e780091d87405723","badges":{"votes":0,"attachmentsByType":{"trello":{"board":0,"card":0}},"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":2,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null,"dueComplete":false},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2018-10-19T15:18:02.584Z","desc":"Foo
        Bar","descData":{"emoji":{}},"due":null,"email":null,"idBoard":"5bc9f46dafc61384c5713b4e","idChecklists":["5bc9f58f240c842c1aeccde0","5bc9f596dbed572442c7ddc7"],"idList":"5bc9f4849cac4e1d8ff142d7","idMembers":[],"idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"labels":[{"id":"5bc9f46da724a908c02d3b13","idBoard":"5bc9f46dafc61384c5713b4e","name":"label
        1","color":"green"},{"id":"5bc9f46da724a908c02d3b14","idBoard":"5bc9f46dafc61384c5713b4e","name":"label
        2","color":"yellow"}],"idLabels":["5bc9f46da724a908c02d3b14","5bc9f46da724a908c02d3b13"],"manualCoverAttachment":false,"name":"Task
        1","pos":65535,"shortLink":"uuVT2tNZ","shortUrl":"https://trello.com/c/uuVT2tNZ","subscribed":false,"url":"https://trello.com/c/uuVT2tNZ/1-task-1"}'
  recorded_at: Fri, 19 Oct 2018 22:40:11 GMT
- request:
    method: get
    uri: https://api.trello.com/1/checklists/5bc9f58f240c842c1aeccde0?key=ed96e5b303600fa840b1d3109398a184&token=4fe301100eee0bd3970dfde31ce4f03c52379bb7f0c393a454bd93d87475de6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1420.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1539988811711'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"126-leuje1yvOzYcTiMVE4+9/TtvwH8"
    body:
      encoding: UTF-8
      string: '{"id":"5bc9f58f240c842c1aeccde0","name":"checklist 1","idBoard":"5bc9f46dafc61384c5713b4e","idCard":"5bc9f497e780091d87405723","pos":16384,"checkItems":[{"idChecklist":"5bc9f58f240c842c1aeccde0","state":"incomplete","id":"5bc9f5a4492fd22c78fdc4ea","name":"taks
        1","nameData":null,"pos":16952}]}'
  recorded_at: Fri, 19 Oct 2018 22:40:11 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/rFeY74R8?key=ed96e5b303600fa840b1d3109398a184&token=4fe301100eee0bd3970dfde31ce4f03c52379bb7f0c393a454bd93d87475de6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1420.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '1[...]
